<div class="body" #targetComponentRef2>
    <!-- grid.component.html -->
    <h1 style="align-items: center;justify-content: center;text-align: center;">Awards and Achievements</h1>
    <div class="grid-container">
        <div class="grid-cell" >
          <h3>Xbytes</h3>
          <p>Held at St Joseph's College Of Engineering</p>
          <button class="view-code">View Certificate</button>
        </div>
      
        <div class="grid-cell">
            <h3>CodeX </h3>
            <p>Held at St Joseph's College Of Engineering</p>
            <button class="view-code">View Certificate</button>
        </div>
        
        <div class="grid-cell">
            <h3>Code Worm </h3>
            <p>Held at Meenakshi College Of Engineering</p>
            <button class="view-code">View Certificate</button>
        </div>
    
        <div class="grid-cell">
            <h3>Pic the lot</h3>
            <p>Held at Meenakshi College Of Engineering</p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>Abacus'22 - All night coding event</h3>
            <p>Held at College of Engineering, Guindy</p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>Drestein'22</h3>
            <p>Held at Saveetha Engineering College</p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>iTECH HACKFEST 2022</h3>
            <p>Held at PSG College Of Technology<p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>CTS PRoDIGI 2022</h3>
            <p>Held at Cognizant Technology Solutions
            </p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>Catalyst Serverless Hackathon</h3>
            <p>Held at Zoho Corporation<p>
            <button class="view-code">View Certificate</button>
        </div>
        
        
      </div>
      
    <!-- Your content goes here -->
    </div>
    