<div class="body" #targetComponentRef3>
    <!-- grid.component.html -->
    <h1 style="align-items: center;justify-content: center;text-align: center;">Courses and Certification</h1>
    <div class="grid-container">
        <div class="grid-cell">
          <h3>Data Structure and Algorithm in python</h3>
          <p>Nptel</p>
          <button class="view-code">View Certificate</button>
        </div>
      
        <div class="grid-cell">
            <h3>Programming in Java</h3>
            <p>Nptel</p>
            <button class="view-code">View Certificate</button>
        </div>
        
        <div class="grid-cell">
            <h3>Basics of Web Development </h3>
            <p>Udemy</p>
            <button class="view-code">View Certificate</button>
        </div>
    
        <div class="grid-cell">
            <h3>Introduction to Linux</h3>
            <p>edx</p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>Microsoft SQL Server</h3>
            <p>Udemy</p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>Python fundamental</h3>
            <p>Infosys Springboard</p>
            <button class="view-code">View Certificate</button>
        </div>
        <!-- <div class="grid-cell">
            <h3>iTECH HACKFEST 2022</h3>
            <p>Held at PSG College Of Technology<p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>CTS PRoDIGI 2022</h3>
            <p>Held at Cognizant Technology Solutions
            </p>
            <button class="view-code">View Certificate</button>
        </div>
        <div class="grid-cell">
            <h3>Catalyst Serverless Hackathon</h3>
            <p>Held at Zoho Corporation<p>
            <button class="view-code">View Certificate</button>
        </div> -->
        
        
      </div>
      
    <!-- Your content goes here -->
    </div>
    