<div class="contact-container" #targetComponentRef5>
    <h1>Contact Me</h1>
    <p>If you have any questions or would like to work together, feel free to reach out!</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/santhosh-y-431498205/" target="_blank">
        <img src="../../assets/Images/linkedin.png" alt="LinkedIn">
      </a>
      <a href="mailto:santhoshyavd@gmail.com" target="_blank">
        <img src="../../assets/Images/gmail.png" alt="Email">
      </a>
    </div>
  </div>