<div class="body" #targetComponentRef>
<!-- grid.component.html -->
<h1 style="align-items: center;justify-content: center;text-align: center;">Projects</h1>
<div class="grid-container">
    <div class="grid-cell">
      <h3>E-commerce interaction</h3>
      <p>The website enables seamless interactions between merchants and customers, offering an intuitive dashboard for 
        product and order management. Customers enjoy a user-friendly shopping experience 
        and convenient online shopping journey.</p>
      <a href="https://github.com/Santhosh908/Merchants---Customers" target="_blank">
        <button class="view-code" >View Code</button>
      </a>
    </div>
  
    <div class="grid-cell">
      <h3>Beyond School</h3>
      <p>The website promotes student-teacher interaction and talent development in co-curricular activities. It offers a platform for students to explore and showcase their diverse interests beyond the academic curriculum, fostering a well-rounded and enriching learning experience. Through various features, students can hone skills and build self-confidence in co-curricular pursuits.</p>
      <a href="https://github.com/Santhosh908/Beyond-School" target="_blank" >
      <button class="view-code">View Code</button>
    </a>
    </div>
    
    <div class="grid-cell">
      <h3>CRUD Operations</h3>
      <p>The website implements CRUD operations (Create, Read, Update, Delete) for efficient data management, allowing users to  create, access, modify, and remove data. With these essential features, users can effectively organize and maintain their information. The website empowers users to have full control over their data, optimizing productivity and decision-making.</p>
      <a href="https://github.com/Santhosh908/CRUD" target="_blank" >
      <button class="view-code">View Code</button>
      </a>
    </div>

    <div class="grid-cell">
      <h3>Todo-List</h3>
      <p>The project facilitates efficient task and to-do list management, providing users with a seamless platform to organize and prioritize their daily activities. From creating tasks to managing it, making it an essential tool for effective time management.</p>
      <a href="https://github.com/Santhosh908/Task-Generator" target="_blank" >
      <button class="view-code">View Code</button>
      </a>  
    </div>
    <div class="grid-cell">
      <h3>Netflix Clone</h3>
      <p>Clone of Netflix Website</p>
      <a href="https://github.com/Santhosh908/Netfix-Cloning" target="_blank" >
      <button class="view-code">View Code</button>
      </a>
    </div>    
  </div>
</div>
