/* .edit{
    margin: 0.2%;     
} */
/* Customize styles as needed */
.swiper-container {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .caption h3,
  .caption p {
    margin: 5px 0;
  }
  
  .swiper-pagination {
    bottom: 10px;
  }
  .container-grid {
    /* background-color: #f0f0f0; Whitish-grey background color */
    padding: 2%; /* Add some padding for spacing */
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  
  }
  .row{
    margin: 5%;
    align-items: center;

  }
  .col{
    /* background-color: #f0f0f0; */
    align-items: center;
    text-align: center;
    background-color: transparent;
    margin: 1%;
  }
  .container-grid .col {
    transition: background-color 0.2s, box-shadow 0.2s; /* Transition for smooth effect */
  }
  
  .container-grid .col:hover {
    /* background-color: #e1e1e1; Change the background color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box-shadow on hover */
    cursor: pointer;
    
  }
  .col{
    opacity: 1;
    transition: opacity 0.3s ease;
}
    
.col:hover {
opacity: 0.7; 
}
.button-container{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5%;
}
.button-container:hover{
  cursor: pointer;
}